body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#Headline {
    margin-top: 0%;
    margin-bottom: 25px;
    font-size: 27px;
}

.Headerbox {
    width: 600px;
    height: 130px;
    background-color: beige;
    margin: 10px auto;
    text-align: center;
    padding-top: 50px;
    color: #957a63;
    border-radius: 5px;
}

.links {
    display: block;
    width: 600px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

a {
    padding: 10px;
    color: #000000ab;
    text-decoration-style: dotted;
}

.header {
    margin: 25px auto;
    width: 600px;
    display: block;
    text-align: center;
    font-size: 12px;
}

.header .image {
    background-image: url("GOT (kopia 2).jpg");
    border: 1px solid black;
    height: 250px;
    width: 250px;
    margin: 10px auto;
    border-radius: 50%;
    background-size: cover;
    border-bottom-width: 2px;
}

.text {
    max-width: 600px;
    margin: auto;
    line-height: 1.3;
    border-bottom: 1px solid lightgrey;
}