body {
    margin: 0px;
}

#Headline {
    margin-top: 0%;
    margin-bottom: 25px;
    font-size: 27px;
}

.Headerbox {
    width: 600px;
    height: 130px;
    background-color: beige;
    margin: 10px auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 50px;
    color: #957a63;
    border-radius: 5px;
}

.links {}

#first {}

#second {}

#third {}

#fourth {}